body {
	max-width: 10in;
	margin: 0 auto !important;
   color: #C8D1D9;
	background-color: #0E1016;
   line-height: 1.5;
	font-family: Verdana;
}

.navbar {
	font-weight: bold;
	width: 100%;
/* 	font-size: 2.0vw; */
/* 	font-size: 100%px; */
   overflow: hidden;
   background-color: #343940;
   border-radius: 4px;
}

.navbar a {
   float: bottom;
   padding: 14px 16px;
   text-decoration: none;
}

.navbar a.active {
   background-color: #4E93E2;
   color: #343940;
}

.navbar a:hover {
   background-color: #C8D1D9;
   color: #343940;
   text-decoration: none;
}

#atlas {
/* 	font-size: 1.7vw; */
}

a {
   color: #4E93E2;
	text-decoration: none;
}

a:hover {
   text-decoration: underline;
}


hr {
	border: 1px solid #C8D1D9;
}

/* inline code */
code {
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
   padding: 0.2em 0.4em;
   margin: 0;
	white-space: pre-wrap;
	border:none;
	background-color: #343940;
	border-radius: 4px;
}
/* program blocks */
div.prog code {
	display: block;
	background-color: #171A22;
	padding: 20px;
   line-height: 1.2;
}
